<div class="class-wrapper">
  <div class="title content-block">
    <h1>
      {{selectedChild.label}}
    </h1>
  </div>

  <div class="wrapper">
    <app-fitness-calculators *ngIf="typeIs('fitness')" [selectedType]="selectedType" [selectedChild]="selectedChild"></app-fitness-calculators>
    <app-financial-calculators *ngIf="typeIs('financial')"></app-financial-calculators>
    <app-math-calculators *ngIf="typeIs('math')"></app-math-calculators>
    <app-other-calculators *ngIf="typeIs('other')"></app-other-calculators>
  </div>
  <div>
  </div>

</div>
