
<div>
<div id="title">
  <h3>Angular Calorie Calculator</h3>
  <p>Using the <a href="https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation" target="_blank">Harris–Benedict equation</a> as revised by Mifflin and St Jeor in 1990</p>
</div>

<div class="row">
  <div class="col-md-8">
    <app-calc [formConfig]="formConfig" (submitForm)="calculateCalories($event)"></app-calc>
    <br>
    <h2>Content</h2>
    <br>
    <app-content-block [items]="items" [heading]="header"></app-content-block>
  </div>
  <div class="col-md-4">
    <!--ad-->
    <!--related table-->
  </div>
</div>

</div>
