<!-- <p *ngFor="let paragraph of paragraphs">{{ paragraph }}</p>
<ul *ngFor="let list of lists">
  <li *ngFor="let item of list">{{ item }}</li>
</ul>
<table *ngFor="let table of tables">
  <tr *ngFor="let row of table">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>
<img *ngFor="let image of images" [src]="image"> -->
<!-- @TODO finish implementing -->
<div [ngSwitch]="item.type">
  <p *ngSwitchCase="ContentBlockItemType.paragraph">
    {{item.content}}
  </p>
  <!-- <input
    *ngSwitchCase="'text'"
    type="text"
    class="form-control"
    [formControlName]="field.key"
    [placeholder]="field.value.placeholder"
  />
  <input
    *ngSwitchCase="'number'"
    type="number"
    class="form-control"
    [formControlName]="field.key"
    [placeholder]="field.value.placeholder"
  /> -->
</div>
