
<!-- Probably going to move to this implementation -->
<h2 *ngIf="itemConfig.header">{{ itemConfig.header }}</h2>
<div *ngFor="let item of sortOrder(itemConfig.items)">
  <ng-container [ngSwitch]="item.type">
    <h3 id="item-heading" [class]="multipleClassString(item.styles)" *ngIf="item.heading">{{item.heading}}</h3>
    <p [class]="multipleClassString(item.styles)" *ngSwitchCase="ContentBlockItemType.Paragraph">
      {{ item.content }}
      <span  *ngFor="let childItem of sortOrder(item.children)" [ngSwitch]="childItem.type">
        <a [class]="multipleClassString(childItem.styles)" *ngSwitchCase="ContentBlockItemType.Link" [href]="childItem.linkAddress" target="_blank">
          {{childItem.content}}
        </a>
        <a [class]="multipleClassString(childItem.styles)" *ngSwitchCase="ContentBlockItemType.InternalLink" [href]="childItem.linkAddress">
          {{childItem.content}}
        </a>
        <span [class]="multipleClassString(childItem.styles)" *ngSwitchCase="ContentBlockItemType.Text">
          {{childItem.content}}
        </span>
      </span>
    </p>
    <ul [class]="multipleClassString(item.styles)" *ngSwitchCase="ContentBlockItemType.UnorderedList">
      <li *ngFor="let childItem of item.children">
        <span *ngIf="childItem.heading">{{childItem.heading}} - </span>{{ childItem.content }}
      </li>
    </ul>
    <ol [class]="multipleClassString(item.styles)" *ngSwitchCase="ContentBlockItemType.OrderedList">
      <li *ngFor="let childItem of item.children">
        <span *ngIf="childItem.heading">{{childItem.heading}} - </span>{{ childItem.content }}
      </li>
    </ol>
    <img [class]="multipleClassString(item.styles)" *ngSwitchCase="ContentBlockItemType.Image" [src]="item.content" alt="">
    <table aria-describedby="item-heading" [class]="multipleClassString(item.styles)" *ngSwitchCase="ContentBlockItemType.Table">
      <thead>
        <tr *ngFor="let header of [sortOrder(item.children)![0]]" [class]="multipleClassString(header.styles)">
          <th *ngFor="let cell of sortOrder(header.children)" [class]="multipleClassString(cell.styles)">
            {{ cell.content }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of sortOrder(item.children)!.slice(1)" [class]="multipleClassString(row.styles)">
          <td *ngFor="let cell of sortOrder(row.children)" [class]="multipleClassString(cell.styles)">
            {{ cell.content }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <!-- <app-content-block *ngIf="item.children" [itemConfig]="createConfigFromChildren(item.children)"></app-content-block> -->
</div>

<br>
