<!-- <h2>{{ heading }}</h2> -->
<!-- <app-content-block-item *ngFor="let item of allInputs" [item]="item"></app-content-block-item> -->

<!-- Probably going to move to this implementation -->
<h2>{{ heading }}</h2>
<div *ngFor="let item of sortOrder(items)">
  <ng-container [ngSwitch]="item.type">
    <p *ngSwitchCase="ContentBlockItemType.Paragraph">{{ item.content }}</p>
    <ul *ngSwitchCase="ContentBlockItemType.UnorderedList">
      <li *ngFor="let childItem of item.children">{{ childItem.content }}</li>
    </ul>
    <img *ngSwitchCase="ContentBlockItemType.Image" [src]="item.content" alt="">
    <ng-container *ngSwitchCase="ContentBlockItemType.Table" [ngSwitch]="sortOrder(item.children)![0].type">
      <table *ngSwitchCase="ContentBlockItemType.TableHeader">
        <thead>
          <tr *ngFor="let header of [sortOrder(item.children)![0]]">
            <th *ngFor="let cell of sortOrder(header.children)">
              {{ cell.content }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of sortOrder(item.children)!.slice(1)">
            <td *ngFor="let cell of sortOrder(row.children)">
              {{ cell.content }}
            </td>
          </tr>
        </tbody>
      </table>
      <table *ngSwitchDefault>
        <tr *ngFor="let row of sortOrder(item.children)">
          <td *ngFor="let cell of sortOrder(row.children)">{{ cell.content }}</td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
  <!-- <app-content-block *ngIf="item.children" [items]="item.children"></app-content-block> -->
</div>

<br>
