.title {
  font-size: 24px;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.nav-list-item {
  font-size: large;
  margin: 25px 25px 10px 0px;
}

hr {
  margin-top: 0px;
}

ul {
  list-style-type: none;
}
.example-spacer {
  flex: 1 1 auto;
}
