<div class="body-wrapper" [ngClass]="appGlobal.getMenuOpened() ? 'menu-opened' : 'menu-closed'">

  <p>
    <a href="" routerLink="" (click)="appGlobal.noHref()">home</a>
    <span>/</span>
    <a href="/calculators" routerLink="/calculators" (click)="appGlobal.noHref()">calculators</a>
    <span *ngIf="!isAllCalculators()">/</span>
    <a *ngIf="!isAllCalculators()" [href]="typeRoute()" [routerLink]="typeRoute()" (click)="appGlobal.noHref()">{{selectedTypes[0].label.toLowerCase()}}</a>
    <span *ngIf="modeIs(Modes.calculator)">/</span>
    <a *ngIf="modeIs(Modes.calculator)" [href]="appGlobal.calculatorTypeRoute(selectedTypes[0], selectedChild)" [routerLink]="appGlobal.calculatorTypeRoute(selectedTypes[0], selectedChild)" (click)="appGlobal.noHref()">{{selectedChild.label.toLowerCase()}}</a>
  </p>

  <app-calculator-overview *ngIf="modeIs(Modes.overview)"
    [selectedTypes]="selectedTypes"
    [isAllCalculators]="isAllCalculators()"
  ></app-calculator-overview>
  <app-calculator *ngIf="modeIs(Modes.calculator)"
    [selectedType]="selectedTypes[0]"
    [selectedChild]="selectedChild"
  ></app-calculator>

</div>
