/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-wrapper {
  padding: 10px;
  min-height: -webkit-fill-available;
}

.menu-closed {
  margin-top: 56px;
}
.menu-opened {
  margin-top: 112px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.child-calc {
  margin-bottom: 10px;
  font-size: 1rem;
}
