<div class="body-wrapper" [ngClass]="appGlobal.getMenuOpened() ? 'menu-opened' : 'menu-closed'">

  <div class="title content-block">
    <h1>
      Bunch of calculators
    </h1>
  </div>

  <div class="wrapper form-group">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 " *ngFor="let category of categories">
        <a [href]="appGlobal.calculatorTypeRoute(category)" [routerLink]="appGlobal.calculatorTypeRoute(category)" (click)="appGlobal.noHref()"><h2>{{category.label}}</h2></a>
        <ul class="no-bullets">
          <li *ngFor="let child of category.children">
            <a [href]="appGlobal.calculatorTypeRoute(category, child)" [routerLink]="appGlobal.calculatorTypeRoute(category, child)" (click)="appGlobal.noHref()">{{child.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>




</div>
